$black: #0b0b0b;
$blue: #316ab3;
$blue-dark: #253565;
$green: #1BC469;
$red: #FD4D4D;
$yellow: #ffcb05;
$white: #fdfdfd;
$gray50: #f5f6f7;
$gray100: #ebedf0;
$gray200: #dadde1;
$gray300: #ccd0d5;
$gray400: #bec3c9;
$gray500: #8d949e;
$gray600: #606770;
$gray700: #444950;
$gray800: #212121;
$gray900: #1c1e21;
$colorsType: (
	Colorless: #A8A77A,
	Darkness: #6F35FC,
	Dragon: #E2BF65,
	Fairy: #D685AD,
	Fighting: #C22E28,
	Fire: #EE8130,
	Grass: #7AC74C,
	Lightning:#F7D02C,
	Metal: #B7B7CE,
	Psychic: #F95587,
	Water: #6390F0,
);
