@use 'src/styles/colors';

* {
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased !important;
}

body,
input,
button,
p,
span {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font: 400 1rem 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
blockquote,
dl,
dd,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;

  &[disabled] {
    cursor: not-allowed;
  }

  &:hover:not[disabled] {
    cursor: pointer;
  }
}

ul,
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.row-overflow {
  position: relative;
  overflow-x: scroll;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.spaced {
  display: flex;
  justify-content: space-evenly;
  width: inherit;
  height: inherit;
}

.accessibilityOnly {
  display: none;
}

.tagListTitle {
  color: colors.$gray600;
  font-size: 1.05rem;
  font-weight: 500;
}
